In [ ]:
!pip install selenium

#### 1) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [ ]:
url = "https://www.naukri.com/"
driver.get(url)

In [ ]:
## finding web element for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [ ]:
# write on search bar 
search_job.send_keys("Data Analyst")

In [ ]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [ ]:
# finding web element for job location bar
search_loc.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn

In [ ]:
search_btn.click()

## Extracting required Data:

In [ ]:
## Extracting job title, exp. location 
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

In [ ]:
## Now the text of job title is inside the web elements extracted above
# so will run a for loop to iterate over the tags and will extract text from them 
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len('job_titles')

In [ ]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

In [ ]:
company_name = []
for i in company_tags:
    company_name.append(i.text)
len('company_name')

In [ ]:
exp_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

In [ ]:
experience = []
for i in exp_tags:
    experience.append(i.text)
len('experience')

In [ ]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

In [ ]:
location = []
for i in loc_tags:
    location.append(i.text)
len('location')

In [ ]:
len(job_titles), len(company_name), len(experience), len(location)

In [ ]:
## Creating DataFrame
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Experience'] = experience
jobs['Location'] = location
jobs.head(10)

#### 2) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

url = "https://www.naukri.com/"
driver.get(url)

In [ ]:
## finding web element for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [ ]:
# write on search bar 
search_job.send_keys("Data Scientist")

In [ ]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [ ]:
# write on search bar 
search_loc.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn 
search_btn.click()

In [ ]:
## Extracting job title,  location and name 
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis" ]')
len(title_tags)

In [ ]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len('job_titles')

In [ ]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft" ]')
len(company_tags)

company_name = []
for i in company_tags:
    company_name.append(i.text)
len('company_name')

In [ ]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

location = []
for i in loc_tags:
    location.append(i.text)
len('location')

In [ ]:
## Creating DataFrame
job = pd.DataFrame()
job['Job Title'] = job_titles
job['Company'] = company_name
job['Location'] = location
job.head(10)

#### 3) : In this question you have to scrape data using the filters available on the webpage as shown below: 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

url = "https://www.naukri.com/"
driver.get(url)

In [ ]:
## finding web element for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

# write on search bar 
search_job.send_keys("Data Scientist")

In [ ]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

# write on search bar 
search_loc.send_keys("Delhi/NCR")

In [ ]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn 
search_btn.click()

#### will scrape the job-title, job-location, company name, experience.

In [ ]:

title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis" ]')
len(title_tags)

job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len('job_titles')

In [ ]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft" ]')
len(company_tags)

company_name = []
for i in company_tags:
    company_name.append(i.text)
len('company_name')

In [ ]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

location = []
for i in loc_tags:
    location.append(i.text)
len('location')

In [ ]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(title_tags)

experience = []
for i in exp_tags:
    experience.append(i.text)
len('experience')

In [ ]:
## Creating DataFrame:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Experience'] = experience
jobs['Location'] = location
jobs.head(10)

#### 4) Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

url = "https://www.flipkart.com/"
driver.get(url)

In [ ]:
## finding web element for search job bar using class name
search_product = driver.find_element_by_class_name("_3704LK")
search_product

In [ ]:
# write on search bar 
search_product.send_keys("sunglasses")

In [ ]:
search_btn = driver.find_element_by_class_name("L0Z3Pu")
search_btn 
search_btn.click()

#### Now we will Scrape 100 sunglasses with:
Brand
Product Description
Price

In [ ]:
# Screping data from 1st page 1- 40products:

brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand = []
for i in brand_tags:
    brand.append(i.text)
len('brand')

In [ ]:
description_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]')
len(description_tags)


description = []
for i in description_tags:
    description.append(i.text)
len('description')

In [ ]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(description_tags)
price = []
for i in price_tags:
    price.append(i.text)
len('price')

In [ ]:
## Creating DataFrame:
df1 = pd.DataFrame()
df1['Brand'] = brand
df1['Price'] = price
df1['Description'] = description
df1

In [ ]:
## 2nd page data from 41 to 80: 
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand = []
for i in brand_tags:
    brand.append(i.text)
len('brand')

In [ ]:
description_tags = driver.find_elements_by_xpath('//div[@class="_2B099V" ]')
len(description_tags)


description = []
for i in description_tags:
    description.append(i.text)
len('description')

In [ ]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(description_tags)
price = []
for i in price_tags:
    price.append(i.text)
len('price')

In [ ]:
## Creating DataFrame:
df2 = pd.DataFrame()
df2['Brand'] = brand
df2['Price'] = price
df2['Description'] = description
df2

In [ ]:
## 3rd page data from 81 to 100: 
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand = []
for i in brand_tags:
    brand.append(i.text)
len('brand')

In [ ]:
description_tags = driver.find_elements_by_xpath('//div[@class="_2B099V" ]')
len(description_tags)


description = []
for i in description_tags:
    description.append(i.text)
len('description')

In [ ]:
## Creating DataFrame:
df3 = pd.DataFrame()
df3['Brand'] = brand
df3['Price'] = price
df3['Description'] = description
df3.head(20)

In [ ]:
## now we will merge all the 3 dataframes and create one dataframe with 100 Sunglasses details.
df4 = pd.concat([df1, df2, df3], axis=0)

In [ ]:
df4.head(100)

#### 5) Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [ ]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20%20TSVZAXUHGREPBFGI&marketplace"
driver.get(url)

#### Now we will scrape the first 100
Rating
Review summary
Full review

In [ ]:
rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags)

rating = []
for i in rating_tags:
    rating.append(i.text)
len('rating')

In [ ]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_tags)

review = []
for i in rating_tags:
    review.append(i.text)
len('review')

In [ ]:
summary_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(summary_tags)

review_summary = []
for i in summary_tags:
    review_summary.append(i.text)
len('review_summary')

In [ ]:
## Creating DataFrame:
df = pd.DataFrame()
df['Rating'] = rating
df['Review'] = review
df['Review Summary'] = review_summary
df

In [ ]:
rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags)

rating = []
for i in rating_tags:
    rating.append(i.text)
len('rating')

In [ ]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_tags)

review = []
for i in rating_tags:
    review.append(i.text)
len('review')

In [ ]:
summary_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(summary_tags)

review_summary = []
for i in summary_tags:
    review_summary.append(i.text)
len('review_summary')

In [ ]:
## Creating DataFrame:
df = pd.DataFrame()
df['Rating'] = rating
df['Review'] = review
df['Review Summary'] = review_summary
df

#### 6) Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
#### You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price As shown in the below image, you have to scrape the tick marked attributes.

In [6]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [7]:
url = "http://www.flipkart.com/"
driver.get(url)

In [10]:
## finding web element for search job bar using class name
search_product = driver.find_element_by_class_name("_3704LK")
search_product

In [11]:

# write on search bar 
search_product.send_keys("sneakers")

In [12]:
search_btn = driver.find_element_by_class_name("_34RNph")
search_btn 
search_btn.click()

In [64]:
## Now we will scrape  1. Brand 2. Product Description 3. Price
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

5

In [65]:
product_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"] ')
len(product_tags)

product = []
for i in product_tags:
    product.append(i.text)
len('product')

7

In [66]:
price_tags = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text.replace("\n", ""))
len('price')

5

In [68]:
## Creating DataFrame:
df = pd.DataFrame()
df['Brand'] = brand
df['Description'] = product
df['Price'] = price
df

,Brand,Description,Price
0,bluemaker,bluemaker\ncasual for men Sneakers For Men\n₹3...,₹399₹99960% off
1,World Wear Footwear,World Wear Footwear\nLatest Collection-1227 St...,₹209₹49958% off
2,BRUTON,BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...,₹139₹59976% off
3,PEHANOSA,PEHANOSA\nSneaker for men Sneakers For Men\n₹3...,₹398₹99960% off
4,CLYMB,"CLYMB\nSneakers For Men\n₹566₹1,49962% off\nDe...","₹566₹1,49962% off"
5,aadi,"aadi\nSneakers For Men\n₹449₹1,99977% off\nSiz...","₹449₹1,99977% off"
6,URBANBOX,URBANBOX\nSTYLISH-WHITE-9 Sneakers For Men\n₹1...,₹116₹49976% off
7,HANIIY,HANIIY\nBelieve Partywear Casual Shoes for Men...,₹449₹99955% off
8,Chevit,Chevit\nPerfect & Affordable Combo Pack of 02 ...,"₹499₹1,79872% off"
9,Kraasa,Kraasa\nShark-41 Sneakers For Men\n₹394₹99960%...,₹394₹99960% off
10,BRUTON,BRUTON\nLattest Sneakers Shoe Sneakers For Men...,"₹209₹1,29983% off"
11,Echor,Echor\nMen's Fashion Sneakers - Lightweight Br...,₹348₹99965% off
12,BRUTON,BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...,₹148₹59975% off
13,World Wear Footwear,World Wear Footwear\nMen 5014 Latest Collectio...,₹209₹49958% off
14,Zsyto,"Zsyto\nSneakers For Men\n₹278₹1,29978% off","₹278₹1,29978% off"
15,SWIGGY,SWIGGY\nCombo pack of 2 casual sneaker and loa...,₹449₹99855% off
16,Echor,Echor\nMen's Sneakers Fashion Lightweight Runn...,₹449₹99955% off
17,DRESTA,DRESTA\nOriginal Luxury Branded Fashionable Me...,"₹398₹1,99980% off"
18,ASTEROID,ASTEROID\nOriginal Luxury Branded Fashionable ...,₹424₹99957% off
19,ASIAN,"ASIAN\nSneakers For Men\n₹599₹1,29953% off","₹599₹1,29953% off"
20,Chevit,Chevit\n494 Perfect Sports Shoes for Running T...,₹204₹99979% off
21,RODDICK SHOES,RODDICK SHOES\nFashion Outdoor Canvas Casual L...,₹374₹99962% off
22,aadi,"aadi\nSneakers For Men\n₹349₹1,99982% off\nDel...","₹349₹1,99982% offDelivery by 11 AM, Tomorrow"
23,Neeman's,"Neeman's\nSneakers For Men\n₹2,349₹2,99921% of...","₹2,349₹2,99921% offFree delivery"
24,ASIAN,"ASIAN\nSkypy-31 Walking Shoes,Training Shoes,S...","₹549₹79931% offDelivery by 11 AM, Tomorrow"
25,SPARX,SPARX\nSM-439 Sneakers For Men\n₹799₹8495% off...,₹799₹8495% offFree delivery
26,Robbie jones,Robbie jones\nCasual Sneakers White Shoes For ...,₹449₹99955% off
27,CUNIO,"CUNIO\nSneakers For Men\n₹518₹1,29960% off\nFr...","₹518₹1,29960% offFree delivery"
28,Robbie jones,Robbie jones\nSneakers For Men\n₹424₹99957% off,₹424₹99957% off
29,Trendmode,Trendmode\nSneakers For Men\n₹199₹99980% off,₹199₹99980% off
30,Stefano Rads,Stefano Rads\nClassy Sneakers For Men\n₹190₹69...,₹190₹69972% off
31,Neeman's,"Neeman's\nSneakers For Men\n₹2,349₹2,99921% of...","₹2,349₹2,99921% offFree delivery"
32,Echor,Echor\nMen's Sneakers Fashion Lightweight Runn...,₹449₹99955% off
33,Vellinto,Vellinto\nCasual Sneakrs For Men Sneakers For ...,"₹549₹1,29957% offFree delivery"
34,RODDICK SHOES,RODDICK SHOES\nFashion Outdoor Canvas Casual L...,₹374₹99962% off
35,RODDICK SHOES,RODDICK SHOES\nFashion and Stylish Designer sh...,₹409₹99959% off
36,Kraasa,Kraasa\nShark-41 Sneakers For Men\n₹429₹99957%...,₹429₹99957% off
37,D-SNEAKERZ,"D-SNEAKERZ\nCasual , Partywear Sneakers Shoes ...",₹334₹99966% off
38,PUMA,"PUMA\nPuma Smash v2 L Sneakers For Men\n₹2,014...","₹2,014₹3,49942% offDelivery by 11 AM, Tomorrow"
39,CAMPUS,"CAMPUS\nSHARP Sneakers For Men\n₹1,849₹1,9997%...","₹1,849₹1,9997% offFree delivery"

In [69]:
## scraping data from 2nd page.
next_btn = driver.find_element_by_class_name("_1LKTO3")
next_btn

In [63]:
next_btn.click()

In [72]:
## Now we will scrape 2nd page from 41- 80.  1. Brand 2. Product Description 3. Price 4. Discount
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

product_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]')
len(product_tags)

product = []
for i in product_tags:
    product.append(i.text)
len('product')

7

In [73]:
## Creating DataFrame:
df1 = pd.DataFrame()
df1['Brand'] = brand
df1['Description'] = product
df1['Price'] = price
df1

,Brand,Description,Price
0,bluemaker,bluemaker\ncasual for men Sneakers For Men\n₹3...,₹399
1,World Wear Footwear,World Wear Footwear\nLatest Collection-1227 St...,₹209
2,BRUTON,BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...,₹139
3,PEHANOSA,PEHANOSA\nSneaker for men Sneakers For Men\n₹3...,₹398
4,CLYMB,"CLYMB\nSneakers For Men\n₹566₹1,49962% off\nDe...",₹566
5,aadi,"aadi\nSneakers For Men\n₹449₹1,99977% off\nSiz...",₹449
6,URBANBOX,URBANBOX\nSTYLISH-WHITE-9 Sneakers For Men\n₹1...,₹116
7,HANIIY,HANIIY\nBelieve Partywear Casual Shoes for Men...,₹449
8,Chevit,Chevit\nPerfect & Affordable Combo Pack of 02 ...,₹499
9,Kraasa,Kraasa\nShark-41 Sneakers For Men\n₹394₹99960%...,₹394
10,BRUTON,BRUTON\nLattest Sneakers Shoe Sneakers For Men...,₹209
11,Echor,Echor\nMen's Fashion Sneakers - Lightweight Br...,₹348
12,BRUTON,BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...,₹148
13,World Wear Footwear,World Wear Footwear\nMen 5014 Latest Collectio...,₹209
14,Zsyto,"Zsyto\nSneakers For Men\n₹278₹1,29978% off",₹278
15,SWIGGY,SWIGGY\nCombo pack of 2 casual sneaker and loa...,₹449
16,Echor,Echor\nMen's Sneakers Fashion Lightweight Runn...,₹449
17,DRESTA,DRESTA\nOriginal Luxury Branded Fashionable Me...,₹398
18,ASTEROID,ASTEROID\nOriginal Luxury Branded Fashionable ...,₹424
19,ASIAN,"ASIAN\nSneakers For Men\n₹599₹1,29953% off",₹599
20,Chevit,Chevit\n494 Perfect Sports Shoes for Running T...,₹204
21,RODDICK SHOES,RODDICK SHOES\nFashion Outdoor Canvas Casual L...,₹374
22,aadi,"aadi\nSneakers For Men\n₹349₹1,99982% off\nDel...",₹349
23,Neeman's,"Neeman's\nSneakers For Men\n₹2,349₹2,99921% of...","₹2,349"
24,ASIAN,"ASIAN\nSkypy-31 Walking Shoes,Training Shoes,S...",₹549
25,SPARX,SPARX\nSM-439 Sneakers For Men\n₹799₹8495% off...,₹799
26,Robbie jones,Robbie jones\nCasual Sneakers White Shoes For ...,₹449
27,CUNIO,"CUNIO\nSneakers For Men\n₹518₹1,29960% off\nFr...",₹518
28,Robbie jones,Robbie jones\nSneakers For Men\n₹424₹99957% off,₹424
29,Trendmode,Trendmode\nSneakers For Men\n₹199₹99980% off,₹199
30,Stefano Rads,Stefano Rads\nClassy Sneakers For Men\n₹190₹69...,₹190
31,Neeman's,"Neeman's\nSneakers For Men\n₹2,349₹2,99921% of...","₹2,349"
32,Echor,Echor\nMen's Sneakers Fashion Lightweight Runn...,₹449
33,Vellinto,Vellinto\nCasual Sneakrs For Men Sneakers For ...,₹549
34,RODDICK SHOES,RODDICK SHOES\nFashion Outdoor Canvas Casual L...,₹374
35,RODDICK SHOES,RODDICK SHOES\nFashion and Stylish Designer sh...,₹409
36,Kraasa,Kraasa\nShark-41 Sneakers For Men\n₹429₹99957%...,₹429
37,D-SNEAKERZ,"D-SNEAKERZ\nCasual , Partywear Sneakers Shoes ...",₹334
38,PUMA,"PUMA\nPuma Smash v2 L Sneakers For Men\n₹2,014...","₹2,014"
39,CAMPUS,"CAMPUS\nSHARP Sneakers For Men\n₹1,849₹1,9997%...","₹1,849"

In [78]:
## scraping data from 3rd page.
next_btn = driver.find_element_by_class_name("_1LKTO3")
next_btn

In [79]:
next_btn.click()

In [80]:
## Now we will scrape 2nd page from 41- 80.  1. Brand 2. Product Description 3. Price 4. Discount
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

product_tags = driver.find_elements_by_xpath('//div[@class="_2B099V" ]')
len(product_tags)

product = []
for i in product_tags:
    product.append(i.text)
len('product')

7

In [81]:
## Creating DataFrame:
df2 = pd.DataFrame()
df2['Brand'] = brand
df2['Description'] = product
df2['Price'] = price
df2

            Brand                                        Description   Price
0           Echor  Echor\nEchor Men's Sneakers Fashion Lightweigh...    ₹449
1            aadi  aadi\nSneakers For Men\n₹399₹1,99980% off\nSiz...    ₹399
2            PUMA  PUMA\nOntario Sneakers For Men\n₹1,360₹2,99954...  ₹1,360
3        Neeman's  Neeman's\nSneakers For Men\n₹2,349₹2,99921% of...  ₹2,349
4         WELDONE  WELDONE\nFashion Sneakers For Men\n₹195₹49960%...    ₹195
5        LE GREEM  LE GREEM\nComfortable & Smart Sneakers For Men...    ₹399
6   WHITE WALKERS  WHITE WALKERS\nStylish & Trending Outdoor Walk...    ₹549
7             Viv  Viv\nSneakers For Men\n₹649₹1,29950% off\nFree...    ₹649
8           BIRDE  BIRDE\nStylish and Trendy New Design Lightweig...    ₹349
9          SWIGGY  SWIGGY\ncasual sneakers shoes For Mens Multico...    ₹580
10      bluemaker  bluemaker\ncasual shoe for men Sneakers For Me...    ₹399
11         LEVI'S  LEVI'S\nWoods Sneakers For Men\n₹1,749₹4,49961...  ₹1,749
12   Robbie jones  Robbie jones\nCasual Sneakers Black Shoes For ...    ₹378
13           aadi  aadi\nSneakers For Men\n₹434₹1,99978% off\nBuy...    ₹434
14          SPARX  SPARX\nCasual Sneakers Sneakers For Men\n₹1,04...  ₹1,042
15         Farcum  Farcum\nSneakers For Men ( White 07 )Farcum By...    ₹505
16           PUMA  PUMA\nPuma Rebound LayUp SL Sneakers For Men\n...  ₹4,949
17       KWIK FIT  KWIK FIT\nKwik FIT casual sneaker shoes and pa...    ₹349
18         FEWROK  FEWROK\nPremium quality Sneakers For Men\n₹379...    ₹379
19       CALCADOS  CALCADOS\nPerfect Grip Combo pack Of 3 Sneaker...    ₹499
20       KANEGGYE        KANEGGYE\nSneakers For Men\n₹309₹49938% off    ₹309
21           aadi            aadi\nSneakers For Men\n₹269₹99973% off    ₹269
22        Dizzler         Dizzler\nSneakers For Men\n₹445₹71938% off    ₹445
23         SHOVOC  SHOVOC\nSneakers For Men\n₹1,449₹2,59944% off\...  ₹1,449
24        Bretton  Bretton\nClassy Stylish Ayasa Sneakers Sneaker...    ₹201
25       PROVOGUE  PROVOGUE\nSneakers For Men\n₹1,949₹1,9992% off...  ₹1,949
26        Airland  Airland\nSneakers Shoes For Men Black Sneakers...    ₹140
27     OFF LIMITS  OFF LIMITS\nMesh Men White Trainning Shoe Snea...  ₹1,249
28           PUMA  PUMA\nRebound JOY Sneakers For Men\n₹3,029₹5,4...  ₹3,029
29          BIRDE  BIRDE\nComfortable Stylish New Design Light We...    ₹209
30           NIKE  NIKE\nCourt Royale 2 Next Nature Sneakers For ...  ₹2,667
31       Neeman's  Neeman's\nSneakers For Men\n₹2,349₹2,99921% of...  ₹2,349
32        Fzzirok         Fzzirok\nSneakers For Men\n₹379₹99962% off    ₹379
33           Eliq  Eliq\nCombo Shoes For Men , Pack Of 2 Casual S...    ₹342
34       Magnolia        Magnolia\nSneakers For Men\n₹398₹99960% off    ₹398
35      Brown fox  Brown fox\nBrown Fox casual Sneakers For Men\n...    ₹449
36         BRUTON  BRUTON\nCUBIC_1 Sneakers For Men\n₹229₹1,29982...    ₹229
37      Deals4you  Deals4you\nSneakers For Men\n₹399₹99960% off\n...    ₹399
38          zovim  zovim\ndenim Jeans shoes for men Sneakers For ...    ₹376
39        Cipramo  Cipramo\nCasual Comfortable Sneakers For Walki...    ₹949

In [82]:
## now we will merge all the 3 dataframes and create one dataframe with 100 Sunglasses details.
df3 = pd.concat([df, df1, df2], axis=0)
df3.head(100)

,Brand,Description,Price
0,bluemaker,bluemaker\ncasual for men Sneakers For Men\n₹3...,₹399₹99960% off
1,World Wear Footwear,World Wear Footwear\nLatest Collection-1227 St...,₹209₹49958% off
2,BRUTON,BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...,₹139₹59976% off
3,PEHANOSA,PEHANOSA\nSneaker for men Sneakers For Men\n₹3...,₹398₹99960% off
4,CLYMB,"CLYMB\nSneakers For Men\n₹566₹1,49962% off\nDe...","₹566₹1,49962% off"
...,...,...,...
15,Farcum,Farcum\nSneakers For Men ( White 07 )Farcum By...,₹505
16,PUMA,PUMA\nPuma Rebound LayUp SL Sneakers For Men\n...,"₹4,949"
17,KWIK FIT,KWIK FIT\nKwik FIT casual sneaker shoes and pa...,₹349
18,FEWROK,FEWROK\nPremium quality Sneakers For Men\n₹379...,₹379
19,CALCADOS,CALCADOS\nPerfect Grip Combo pack Of 3 Sneaker...,₹499

#### 7) Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [150]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [151]:
url = "https://www.myntra.com/shoes"
driver.get(url)

In [152]:
## Now we will scrape 100 shoes data  1. Brand 2.Description 3. Price
brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

5

In [157]:

price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

description_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(description_tags)

description = []
for i in description_tags:
    description.append(i.text)
len('description')

11

In [158]:
## Creating DataFrame:
df = pd.DataFrame()
df['Brand'] = brand
df['Description'] = description
df['Price'] = price
df

,Brand,Description,Price
0,Nike,Men Winflo 7 Running Shoes,Rs. 7995
1,Nike,Men Blazer Court Skateboarding,Rs. 7495
2,Nike,Men Air Max Dawn Sneakers,Rs. 10995
3,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
4,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
5,Puma,Men Running Shoes,Rs. 12999
6,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
7,Puma,Men Deviate Nitro Running Shoe,Rs. 10499Rs. 14999(30% OFF)
8,ASICS,Women Running Shoes,Rs. 7999
9,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
10,Skechers,Men Go Run Hyper Burst Running,Rs. 7224Rs. 8499(15% OFF)
11,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
12,Tommy Hilfiger,Men Textured Loafers,Rs. 8999
13,Puma,Men Electrify Nitro Running,Rs. 9999
14,RARE RABBIT,Men Leather Slip-On Sneakers,Rs. 7999
15,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
16,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
17,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999
18,Tommy Hilfiger,Leather Sandals,Rs. 7599
19,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
20,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
21,Puma,Women Velocity NITRO Runners,Rs. 7149Rs. 10999(35% OFF)
22,Xtep,Men Running Shoes,Rs. 7699
23,Puma,Men Training or Gym Shoes,Rs. 7999
24,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
25,Puma,Women Eternity Nitro Running,Rs. 7149Rs. 12999(45% OFF)
26,PUMA Motorsport,Unisex Ferrari Drift8 Sneakers,Rs. 7999
27,Tommy Hilfiger,Women CLEAT Textured Sneakers,Rs. 7739Rs. 8599(10% OFF)
28,Clarks,Men Solid Leather Formal Loafers,Rs. 7999
29,Saint G,Leather Block Heeled Boots,Rs. 9265Rs. 10900(15% OFF)
30,Heel & Buckle London,Men Textured Leather Formal Loafers,Rs. 13990
31,Geox,Men Leather Loafers,Rs. 10990
32,Saint G,Men Mid-Top Chelsea Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
33,ALDO,Wedge Sandals,Rs. 7999
34,FILA,Women Leather Sneakers,Rs. 8499
35,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
36,Clarks,Men Solid Formal Leather Derbys,Rs. 9999
37,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
38,DAVINCHI,Ustraa black,Rs. 8990
39,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
40,Tommy Hilfiger,Women ELEVATED Leather Sneaker,Rs. 7219Rs. 7599(5% OFF)
41,Saint G,Women Leather Heeled Boots,Rs. 11473Rs. 14900(23% OFF)
42,Clarks,Men Solid Leather Formal Brogues,Rs. 7999
43,DAVINCHI,Solid Slip On Shoes,Rs. 7990
44,Nike,Women Air Max Furyosa Sneakers,Rs. 11470Rs. 13495(15% OFF)
45,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)
46,Saint G,Women Kitten Heeled Boots,Rs. 7565Rs. 8900(15% OFF)
47,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
48,Puma,Women Eternity NITRO Shoes,Rs. 12999
49,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999

In [159]:
## scraping data from 2nd page.from 51 to 100. 
next_btn = driver.find_element_by_class_name("pagination-next")
next_btn

In [160]:
next_btn.click()

In [161]:
brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)

brand= []
for i in brand_tags:
    brand.append(i.text)
len('brand')

price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')

description_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(description_tags)

description = []
for i in description_tags:
    description.append(i.text)
len('description')

11

In [162]:
## Creating DataFrame:
df1 = pd.DataFrame()
df1['Brand'] = brand
df1['Description'] = description
df1['Price'] = price
df1

,Brand,Description,Price
0,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999
1,New Balance,Women Woven Running Shoes,Rs. 8449Rs. 12999(35% OFF)
2,New Balance,Men Woven Design Running Shoes,Rs. 7149Rs. 10999(35% OFF)
3,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
4,Geox,Men Leather Driving Shoes,Rs. 9499
5,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
6,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
7,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
8,Clarks,Men Leather Formal Loafers,Rs. 7499
9,Hush Puppies,Men Leather Derbys,Rs. 7999
10,J.FONTINI,Men Solid Loafers,Rs. 8990
11,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
12,Geox,Men Printed Slip-On Sneakers,Rs. 9899Rs. 10999(10% OFF)
13,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
14,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
15,Hush Puppies,Men Formal Derbys,Rs. 9999
16,Saint G,Women Leather Mules,Rs. 7216Rs. 8200(12% OFF)
17,Geox,Women Leather Pumps,Rs. 8999
18,Geox,Women Solid Leather Pumps,Rs. 7999
19,Geox,Women Solid Leather Pumps,Rs. 10990
20,New Balance,Men Fuelcell Running Shoes,Rs. 7799Rs. 11999(35% OFF)
21,Nike,Men AIRMAX IMPACT 3 Basketball,Rs. 7375Rs. 8195(10% OFF)
22,J.FONTINI,Men Black Leather Loafers,Rs. 8490
23,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
24,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
25,Geox,Men Leather Loafers,Rs. 9999
26,Geox,Men Leather Driving Shoes,Rs. 9999
27,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990
28,Bugatti,Men Sneakers,Rs. 8799Rs. 10999(20% OFF)
29,J.FONTINI,Men Solid Leather Formal Loafers,Rs. 9990
30,Royal Enfield,Cabo WP Riding Boots,Rs. 8500
31,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
32,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
33,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 9990
34,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
35,Nike,Women WINFLO 7 Running Shoes,Rs. 7195Rs. 7995(10% OFF)
36,ADIDAS,Men X9000L3 Running Shoes,Rs. 7199Rs. 11999(40% OFF)
37,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(10% OFF)
38,Cole Haan,Women Sneakers,Rs. 7799Rs. 12999(40% OFF)
39,Geox,Women Solid Leather Ballerinas,Rs. 8999
40,Pavers England,Men Leather Driving Shoes,Rs. 7499
41,Cole Haan,Women Solid Leather Ballerinas,Rs. 9799Rs. 13999(30% OFF)
42,Cole Haan,Women Leather Loafers,Rs. 11899Rs. 16999(30% OFF)
43,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
44,Saint G,Women Leather Heeled Boots,Rs. 14025Rs. 16500(15% OFF)
45,Saint G,Women Leather Heeled Boots,Rs. 11815Rs. 13900(15% OFF)
46,Pavers England,Men Printed Loafers,Rs. 11999
47,ALDO,Leather Slim Heels,Rs. 8399Rs. 11999(30% OFF)
48,Geox,Leather Platform Sandals,Rs. 9999
49,Geox,Men Striped Leather Sneakers,Rs. 9990

In [163]:
## now we will merge all the 3 dataframes and create one dataframe with 100 Sunglasses details.
df2 = pd.concat([df, df1 ], axis=0)
df2.head(100)

,Brand,Description,Price
0,Nike,Men Winflo 7 Running Shoes,Rs. 7995
1,Nike,Men Blazer Court Skateboarding,Rs. 7495
2,Nike,Men Air Max Dawn Sneakers,Rs. 10995
3,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
4,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
...,...,...,...
45,Saint G,Women Leather Heeled Boots,Rs. 11815Rs. 13900(15% OFF)
46,Pavers England,Men Printed Loafers,Rs. 11999
47,ALDO,Leather Slim Heels,Rs. 8399Rs. 11999(30% OFF)
48,Geox,Leather Platform Sandals,Rs. 9999
49,Geox,Men Striped Leather Sneakers,Rs. 9990

#### 8) Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [124]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [125]:
url = "https://www.amazon.in/"
driver.get(url)

In [126]:
## finding web element for search job bar using class name
search_product = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_product

In [127]:
# write on search bar 
search_product.send_keys("Laptop")

In [128]:
search_product = driver.find_element_by_class_name("nav-right")
search_product

In [129]:
search_product.click()

In [139]:
## Now we will scrape  Title .Ratings .Price
title_tags = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(title_tags)

title= []
for i in title_tags:
    title.append(i.text)
len('title')

price_tags = driver.find_elements_by_xpath('//span[@class="a-price"]')
len(price_tags)

price = []
for i in price_tags:
    price.append(i.text)
len('price')


rating_tags = driver.find_elements_by_xpath('//i[@class="a-icon a-icon-popover"]')
len(rating_tags)

rating = []
for i in rating_tags:
    rating.append(i.text)
len('rating')

6

In [147]:
## Creating DataFrame:
df = pd.DataFrame()
df['Title'] = title
df['Price'] = price
df.head(10)

                                               Title    Price
0  Mi Notebook Ultra 3.2K resolution display Inte...  ₹77,490
1  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  ₹92,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  ₹59,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  ₹86,490
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...  ₹59,990
5  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  ₹96,990
6  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...  ₹81,990
7  Acer Nitro 5 11th Gen Intel Core i5-11400H 15....  ₹65,990
8  (Renewed) MI Mi Notebook Horizon Edition 14 In...  ₹48,990
9  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  ₹92,999

#### 9): Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4.You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be do

In [201]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from selenium import webdriver
driver=webdriver.Chrome(r'C:\Users\kunda\OneDrive\Desktop\chromedriver.exe')

In [202]:
url = "https://www.ambitionbox.com/"
driver.get(url)

In [203]:
## finding web element for search job bar using xpath.
search_job = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
search_job

In [204]:
search_job = driver.find_element_by_xpath("/html/body/section[1]/div/div[2]/form/span/input")
search_job

In [205]:
search_job.send_keys("Data Scientist")

In [206]:
## Finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath('/html/body/section[1]/div/div[2]/form/div[2]/input')
search_loc

In [207]:
search_loc.click()

In [188]:
search_locs = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[1]")
search_locs.click()

In [189]:
search_locs1 = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[1]/div[2]/div/div[2]")
search_locs1

In [187]:
search_locs1.send_keys("Noida")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=98.0.4758.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x004B69A3+2582947]
	Ordinal0 [0x0044A6D1+2139857]
	Ordinal0 [0x00343960+1063264]
	Ordinal0 [0x0036B493+1225875]
	Ordinal0 [0x0036ABDC+1223644]
	Ordinal0 [0x0038854C+1344844]
	Ordinal0 [0x00366524+1205540]
	Ordinal0 [0x003886A4+1345188]
	Ordinal0 [0x0039834A+1409866]
	Ordinal0 [0x00388366+1344358]
	Ordinal0 [0x00365176+1200502]
	Ordinal0 [0x00366066+1204326]
	GetHandleVerifier [0x0065BE02+1675858]
	GetHandleVerifier [0x0071036C+2414524]
	GetHandleVerifier [0x0054BB01+560977]
	GetHandleVerifier [0x0054A8D3+556323]
	Ordinal0 [0x0045020E+2163214]
	Ordinal0 [0x00455078+2183288]
	Ordinal0 [0x004551C0+2183616]
	Ordinal0 [0x0045EE1C+2223644]
	BaseThreadInitThunk [0x766CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B87A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77B87A6E+238]